.content
	
	pathes = [ 'images/webcam.jpeg' ]
	
	ul#imglist
		each path, i in pathes
			li
				img.my-image(src='#{path}', title='Pic no. #{i}')

:coffeescript
	$(document).ready ->
		HomeController = require "controllers/homecontroller"
		controller = new HomeController();
