!!! 5
html(lang="en")
	head
		meta(charset='utf-8')
		meta(content='no-cache')
		title= 'Pushing image data to clients using Websockets'

		// css
		link(rel="stylesheet", href="/stylesheets/styles.css")

		// require the main Stitch file
		script(type='text/javascript', src='application.js')

		script(src='/socket.io/socket.io.js')

	body

		header

		!= body

		footer
